.container_home {
  height: 100%;
  background-color: black;
}
.text_wallet_tracker {
  font-family: -webkit-pictograph;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 40px;
}
.text_must_own,
.text_to_access,
.text_terminal {
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 2px;
  font-family: system-ui;
  font-weight: 500;
}
.img_vector {
  border-radius: 2.57301px;
  width: 87%;
  margin-left: 13%;
}
.text_lavish_whale {
  font-size: 24px;
  color: #44ff40;
  font-family: system-ui;
  font-weight: 500;
}
.text_header_grp {
  display: flex;
}
.text_powered {
  font-family: -webkit-pictograph;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #7c7c7c;
}
.text_big_nft {
  font-family: -webkit-pictograph;
  font-style: normal;
  font-weight: 900;
  font-size: 88.4029px;
  line-height: 120%;
  color: #fbfbfb;
}
.solona_grp {
  margin-left: 40%;
}
.text_small_blockchain {
  font-family: -webkit-pictograph;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 34px;

  color: #7c7c7c;
}
.text_small_blockchain span {
  color: white !important;
}
.span_solana {
  font-family: -webkit-pictograph;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 43px;

  color: #ffffff;
}
.div_price {
  font-family: -webkit-pictograph;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 38px;
  margin-left: 5px;
  color: #ffffff;
  letter-spacing: 1px;
}
.span_sol {
  font-family: -webkit-pictograph;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height */
  margin-left: 16px;

  color: #636363;
}
.logo_position {
  text-align: center;
}
.text_big_terminal {
  font-family: -webkit-pictograph;
  font-style: normal;
  font-weight: 900;
  font-size: 88.4029px;
  line-height: 120%;
  color: #44ff40;
  text-shadow: 0px 0px 69px rgba(68, 255, 64, 0.5);
}
.img_nft {
  width: 100px;
  height: 100px;
}
.btn_buy {
  background: #ffffff;
  border-radius: 76px;
  padding: 10px 25px;
}
.connect_wallet {
  background: #ffffff;
  border-radius: 76px;
  padding: 15px 45px;
}

.MuiGrid-justify-content-xs-center {
  margin-left: -4%;
}

.MuiGrid-grid-xs-12 {
  margin-left: 10%;
}
@media (max-width: 1850px) {
  .img_nft {
    width: 125px;
    height: 100px;
  }

  .text_terminal,
  .btn_buy {
    margin-left: 10%;
  }
}

@media (max-width: 1700px) {
  .text_must_own,
  .text_to_access,
  .text_terminal {
    font-size: 22px;
  }
  .text_lavish_whale {
    font-size: 22px;
  }
  .text_wallet_tracker {
    font-size: 13px;
  }
}
@media (max-width: 1550px) {
  .text_must_own,
  .text_to_access,
  .text_terminal {
    font-size: 18px;
  }
  .text_lavish_whale {
    font-size: 18px;
  }
  .text_wallet_tracker {
    font-size: 12px;
  }
  .img_nft {
    width: 115px;
    height: 80px;
  }
}

@media (max-width: 1480px) {
  .img_nft {
    width: 90px;
    height: 90px;
  }
  .text_wallet_tracker {
    font-size: 10px;
  }
}
@media (max-width: 1370px) {
  .img_nft {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1280px) {
  .text_header_grp {
    margin-bottom: 10px;
    margin-left: 10%;
  }
  .nft_grp {
    margin-left: 10%;
  }
  .text_must_own,
  .text_to_access,
  .text_terminal,
  .text_lavish_whale {
    font-size: 25px;
  }
  .MuiGrid-justify-content-xs-center {
    margin-left: 0%;
  }
}
@media (max-width: 960px) {
  .text_header_grp,
  .nft_grp {
    margin-bottom: 10px;
    margin-left: 5%;
  }
}
@media (max-width: 900px) {
  .text_must_own,
  .text_to_access,
  .text_terminal,
  .text_wallet_tracker {
    font-size: 20px;
  }
}
@media (max-width: 660px) {
  /* .img_vector {
    position: absolute;
    top: 80%;
    right: -10%;
  } */
}
@media (max-width: 600px) {
  .img_nft {
    width: 210px;
    height: 150px;
  }
  .text_big_nft,
  .text_big_terminal {
    font-size: 70px;
  }
}
@media (max-width: 500px) {
  .img_logo {
    width: 150px;
  }
  .text_big_nft,
  .text_big_terminal {
    font-size: 60px;
  }
  .text_must_own,
  .text_to_access,
  .text_wallet_tracker {
    font-size: 17px;
  }

  .text_wallet_tracker {
    margin-top: 30px;
    font-size: 15px;
  }
  .img_nft {
    width: 165px;
  }
  .text_terminal {
    font-size: 22px;
    margin-top: 5px;
    margin-left: 30%;
  }
  .btn_buy {
    margin-bottom: 10px;
    margin-left: 30%;
  }
  /* .img_vector {
    position: absolute;
    top: 85%;
    right: -10%;
  } */
}
@media (max-width: 390px) {
  .img_nft {
    width: 300px;
  }
  .text_big_nft,
  .text_big_terminal {
    font-size: 50px;
  }
  /* .img_vector {
    position: absolute;
    top: 185%;
    right: -35%;
  } */
}
